definitions:
  config.CustomWordConfig:
    properties:
      customization:
        description: 自定义占位置词
        items:
          type: string
        type: array
      exclude_words:
        description: 自定义排除词
        items:
          type: string
        type: array
      identify_word:
        description: 自定义识别词
        items:
          type: string
        type: array
    type: object
  config.FanartConfig:
    properties:
      api_key:
        type: string
      api_url:
        type: string
      languages:
        description: 语言顺序
        items:
          type: string
        type: array
    type: object
  config.FormatConfig:
    properties:
      movie:
        description: 电影格式
        type: string
      tv:
        description: 电视剧格式
        type: string
    type: object
  config.LibraryConfig:
    properties:
      dst_path:
        description: 目标路径
        type: string
      dst_type:
        allOf:
        - $ref: '#/definitions/storage.StorageType'
        description: 目标类型
      name:
        description: 媒体库名称
        type: string
      notify:
        description: 是否通知
        type: boolean
      organize_by_category:
        description: 是否按分类分文件夹
        type: boolean
      organize_by_type:
        description: 是否按类型分文件夹
        type: boolean
      scrape:
        description: 是否刮削
        type: boolean
      src_path:
        description: 源路径
        type: string
      src_type:
        allOf:
        - $ref: '#/definitions/storage.StorageType'
        description: 源类型
      transfer_type:
        allOf:
        - $ref: '#/definitions/storage.TransferType'
        description: 传输类型
    type: object
  config.LogConfig:
    properties:
      console_level:
        description: 终端输出日志级别
        type: string
      file_dir:
        description: 日志文件目录
        type: string
      file_level:
        description: 文件日志级别
        type: string
    type: object
  config.TMDBConfig:
    properties:
      api_key:
        description: API Key
        type: string
      api_url:
        description: TMDB API URL
        type: string
      image_url:
        description: 图片 API URL
        type: string
      include_image_language:
        description: 包含的图片语言
        type: string
      language:
        description: 语言
        type: string
    type: object
  meta.MediaType:
    enum:
    - 0
    - 1
    - 2
    format: int32
    type: integer
    x-enum-comments:
      MediaTypeMovie: 电影
      MediaTypeTV: 电视剧
      MediaTypeUnknown: 未知
    x-enum-descriptions:
    - 未知
    - 电影
    - 电视剧
    x-enum-varnames:
    - MediaTypeUnknown
    - MediaTypeMovie
    - MediaTypeTV
  schemas.ArchiveMediaManualRequest:
    properties:
      dst_dir:
        allOf:
        - $ref: '#/definitions/schemas.FileInfoRequest'
        description: 目标目录
      episode_offset:
        description: 集数偏移（仅为制定集数是生效）
        type: string
      episode_str:
        description: 集数字符串，单集或多集范围
        type: string
      media_type:
        allOf:
        - $ref: '#/definitions/meta.MediaType'
        description: 可选字段
      organize_by_category:
        description: 是否按分类整理
        type: boolean
      organize_by_type:
        description: 是否按类型整理
        type: boolean
      part:
        description: 指定分段
        type: string
      scrape:
        description: 是否刮削元数据
        type: boolean
      season:
        description: 季编号，-1 表示不设定
        type: integer
      src_file:
        allOf:
        - $ref: '#/definitions/schemas.FileInfoRequest'
        description: 源文件
      tmdb_id:
        description: TMDB ID
        type: integer
      transfer_type:
        allOf:
        - $ref: '#/definitions/storage.TransferType'
        description: 转移方法
    required:
    - dst_dir
    - organize_by_category
    - organize_by_type
    - scrape
    - src_file
    - transfer_type
    type: object
  schemas.FileInfoRequest:
    properties:
      path:
        type: string
      storage_type:
        $ref: '#/definitions/storage.StorageType'
    required:
    - path
    - storage_type
    type: object
  schemas.ScrapeRequest:
    properties:
      dst_file:
        $ref: '#/definitions/schemas.FileInfoRequest'
      media_type:
        $ref: '#/definitions/meta.MediaType'
      tmdb_id:
        type: integer
    required:
    - dst_file
    type: object
  storage.StorageType:
    enum:
    - 0
    - 1
    format: int32
    type: integer
    x-enum-comments:
      StorageLocal: 本地文件系统
      StorageUnknown: 未知文件系统
    x-enum-descriptions:
    - 未知文件系统
    - 本地文件系统
    x-enum-varnames:
    - StorageUnknown
    - StorageLocal
  storage.TransferType:
    enum:
    - 0
    - 1
    - 2
    - 3
    - 4
    format: int32
    type: integer
    x-enum-comments:
      TransferCopy: 复制
      TransferLink: 硬链接
      TransferMove: 移动
      TransferSoftLink: 软链接
      TransferUnknown: 未知转移类型
    x-enum-descriptions:
    - 未知转移类型
    - 复制
    - 移动
    - 硬链接
    - 软链接
    x-enum-varnames:
    - TransferUnknown
    - TransferCopy
    - TransferMove
    - TransferLink
    - TransferSoftLink
info:
  contact: {}
  description: 下一代媒体刮削&整理工具
  title: MediaTools API 文档
  version: "1.0"
paths:
  /config/fanart:
    get:
      description: 获取 Fanart 配置
      produces:
      - application/json
      responses: {}
      summary: 获取 Fanart 配置
      tags:
      - 应用配置
      - Fanart
    post:
      consumes:
      - application/json
      description: 更新 Fanart 配置
      parameters:
      - description: Fanart 配置
        in: body
        name: config
        required: true
        schema:
          $ref: '#/definitions/config.FanartConfig'
      produces:
      - application/json
      responses: {}
      summary: 更新 Fanart 配置
      tags:
      - 应用配置
      - Fanart
  /config/libraries:
    get:
      description: 获取媒体库配置
      produces:
      - application/json
      responses: {}
      summary: 获取媒体库配置
      tags:
      - 应用配置
    post:
      consumes:
      - application/json
      description: 更新媒体库配置
      parameters:
      - description: 媒体库配置
        in: body
        name: config
        required: true
        schema:
          items:
            $ref: '#/definitions/config.LibraryConfig'
          type: array
      produces:
      - application/json
      responses: {}
      summary: 更新媒体库配置
      tags:
      - 应用配置
  /config/log:
    get:
      description: 获取日志配置
      produces:
      - application/json
      responses: {}
      summary: 获取日志配置
      tags:
      - 应用配置
      - 日志
    post:
      consumes:
      - application/json
      description: 更新日志配置
      parameters:
      - description: 日志配置
        in: body
        name: config
        required: true
        schema:
          $ref: '#/definitions/config.LogConfig'
      produces:
      - application/json
      responses: {}
      summary: 更新日志配置
      tags:
      - 应用配置
      - 日志
  /config/media/custom_word:
    get:
      consumes:
      - application/json
      description: 获取自定义词配置
      produces:
      - application/json
      responses: {}
      summary: 获取自定义词配置
      tags:
      - 应用配置
    post:
      consumes:
      - application/json
      description: 更新自定义词配置
      parameters:
      - description: 自定义词配置
        in: body
        name: config
        required: true
        schema:
          $ref: '#/definitions/config.CustomWordConfig'
      produces:
      - application/json
      responses: {}
      summary: 更新自定义词配置
      tags:
      - 应用配置
  /config/media/format:
    get:
      description: 获取媒体格式配置
      produces:
      - application/json
      responses: {}
      summary: 获取媒体格式配置
      tags:
      - 应用配置
    post:
      consumes:
      - application/json
      description: 更新媒体格式配置
      parameters:
      - description: 媒体格式配置
        in: body
        name: config
        required: true
        schema:
          $ref: '#/definitions/config.FormatConfig'
      produces:
      - application/json
      responses: {}
      summary: 更新媒体格式配置
      tags:
      - 应用配置
  /config/tmdb:
    get:
      description: 获取 TMDB 配置
      produces:
      - application/json
      responses: {}
      summary: 获取 TMDB 配置
      tags:
      - 应用配置
      - TMDB
    post:
      consumes:
      - application/json
      description: 更新 TMDB 配置
      parameters:
      - description: TMDB 配置
        in: body
        name: config
        required: true
        schema:
          $ref: '#/definitions/config.TMDBConfig'
      responses: {}
      summary: 更新 TMDB 配置
      tags:
      - 应用配置
      - TMDB
  /history/media/transfer:
    get:
      description: 查询媒体转移历史记录，支持根据 ID、时间范围、源路径、目标路径、转移类型和状态进行过滤
      parameters:
      - description: 媒体转移历史记录 ID, 如果提供则只查询该 ID 的记录
        in: query
        name: id
        type: integer
      - description: 存储类型, 可选值为 'LocalStorage' 等
        in: query
        name: storage_type
        type: string
      - description: 路径, 模糊匹配
        in: query
        name: path
        type: string
      - description: 转移类型, 可选值为 'Copy'、'Move'、'Link'、'SoftLink' 等
        in: query
        name: transfer_type
        type: string
      - description: 是否成功, true 或 false
        in: query
        name: status
        type: boolean
      - description: 最大返回数量, 默认值为 30
        in: query
        name: count
        type: integer
      produces:
      - application/json
      responses: {}
      summary: 查询媒体转移历史记录
      tags:
      - History
  /library/archive:
    post:
      consumes:
      - application/json
      description: 手动归档媒体文件
      parameters:
      - description: 请求参数
        in: body
        name: data
        required: true
        schema:
          $ref: '#/definitions/schemas.ArchiveMediaManualRequest'
      produces:
      - application/json
      responses: {}
      summary: 手动归档媒体文件
      tags:
      - 媒体库管理
  /log/recent:
    get:
      description: 获取最近日志
      produces:
      - application/json
      responses: {}
      summary: 获取最近日志
      tags:
      - 日志
  /overview/{media_type}/{tmdb_id}:
    get:
      description: 根据媒体类型和 TMDB ID 获取对应的概述信息
      parameters:
      - description: 媒体类型
        enum:
        - Movie
        - TV
        in: path
        name: media_type
        required: true
        type: string
      - description: TMDB ID
        in: path
        name: tmdb_id
        required: true
        type: integer
      - description: 季数
        in: query
        name: season
        type: integer
      - description: 集数
        in: query
        name: episode
        type: integer
      responses: {}
      summary: 获取媒体概述信息
      tags:
      - TMDB
  /poster/{media_type}/{tmdb_id}:
    get:
      description: 根据媒体类型和 TMDB ID 获取对应的海报图片 URL
      parameters:
      - description: 媒体类型
        enum:
        - Movie
        - TV
        in: path
        name: media_type
        required: true
        type: string
      - description: TMDB ID
        in: path
        name: tmdb_id
        required: true
        type: integer
      responses: {}
      summary: 获取媒体海报图片
      tags:
      - TMDB
  /scrape/video:
    post:
      consumes:
      - application/json
      description: 刮削视频文件的元数据和相关信息
      parameters:
      - description: 刮削请求参数
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/schemas.ScrapeRequest'
      produces:
      - application/json
      responses: {}
      summary: 刮削视频
      tags:
      - 刮削
  /task/transfer:
    get:
      description: 查询转移任务列表
      responses: {}
      summary: 查询转移任务列表
      tags:
      - 任务管理
  /task/transfer/{id}:
    delete:
      description: 取消转移任务
      parameters:
      - description: 任务 ID
        in: path
        name: id
        required: true
        type: string
      responses: {}
      summary: 取消转移任务
      tags:
      - 任务管理
    get:
      description: 获取转移任务状态
      parameters:
      - description: 任务 ID
        in: path
        name: id
        required: true
        type: string
      responses: {}
      summary: 获取转移任务状态
      tags:
      - 任务管理
schemes:
- HTTP
swagger: "2.0"
